@import "../../App.scss";

.product-card {
    text-align: center;

    .product-details {
        &:hover {
            cursor: pointer;
        }

        .content {
            padding-bottom: 0;

            .price {
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
    }

    .actions {
        justify-content: center;

        .add-to-cart-btn {
            background-color: var(--black);
            
            &:hover {
                background-color: var(--light-blue);
                color: var(--black);
            }

            &::before {
                content: "+";
                margin-right: .2rem;
            }
        }
    }
}