@import "../../App.scss";

.product-card {
    text-align: center;

    .product-details {
        .content {
            padding-bottom: 0;

            .price {
                font-size: 1.5rem;
                font-weight: bold;
            }
        }
    }

    .actions {
        justify-content: center;

        .add-to-cart-btn {
            @include addToCartBtn();
        }
    }
}