section.chat-messages {
    max-width: 700px;
    width: 100%;

    ul {
        max-height: 420px;
        overflow: auto;
        
        button {
            width: 100%;
        }
    }

    .chat-item {
        .message-header {
            display: flex;
            justify-content: space-between;
        }
    }
}
  