@import "../../App.scss";

section.login {
    flex-grow: 1;
    @include sectionContainer(3rem);

    h1 {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    button {
        column-gap: .4rem;
    }

    form {
        display: flex;
        flex-direction: column;

        button {
            background-color: var(--black);
            border-radius: initial;
            width: 100%;

            &:hover {
                background-color: var(--light-blue);
                color: var(--black);
            }
        }

        div {
            width: 100%;
        }
    }

    .loginFacebookBtn {
        background-color:#4267B2;
        border-radius: initial;
        width: 100%;
            
        &:hover {
            background-color: #3e5b94;
        }
    }
}
