@import "../../App.scss";

section.productFilters {
    border: 1.5px solid var(--grey);
    padding: 1rem;

    h3 {
        margin-bottom: 0.5rem;
        text-transform: uppercase;
    }

    ul {
        list-style: none;

        button {
            color: var(--black);
            font-weight: initial;
            text-transform: capitalize;
        }
    }

    .radio-btn {
        color: gray;
    }
}