@import "../../App.scss";

section.register {
    flex-grow: 1;
    @include sectionContainer(3rem);

    h1 {
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    form {
        display: flex;
        flex-direction: column;

        button {
            background-color: var(--black);
            border-radius: initial;
            width: 100%;
        }

        button:hover {
            background-color: var(--light-blue);
            color: var(--black);
        }

        div {
            width: 100%;
        }
    }
}
